*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production
auth.json

.phpactor.json
.phpunit.result.cache

/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail

Homestead.json
Homestead.yaml